<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>

      <h2>User info</h2>
      <%= render 'info', user: @user %>

      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>

      <!--指定した日の記録を表示（非同期通信化）-->
      <%= render "posts_on_date_form", user: @user %>

      <h3>投稿数の前日比・先週比</h3>
      <div class="table_container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今日の投稿数</th>
              <th>前日の投稿数</th>
              <th>前日比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @today_book.count %></td><!-- 今日の投稿数を表示 -->
              <td><%= @yesterday_book.count %></td><!-- 前日の投稿数を表示 -->
              <td>
                <% if @yesterday_book.count == 0 %>
                  前日の投稿はありません
                <% else %>
                  <% @the_day_before = @today_book.count / @yesterday_book.count.to_f %>
                  <%= (@the_day_before * 100).round %> %<!-- 前日比を計算し、パーセントで表示 -->
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table_container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今週の投稿数</th>
              <th>先週の投稿数</th>
              <th>先週比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @this_week_book.count %></td><!-- 今週の投稿数を表示 -->
              <td><%= @last_week_book.count %></td><!-- 先週の投稿数を表示 -->
              <td>
                <% if @last_week_book.count == 0 %>
                  先週の投稿はありません
                <% else %>
                  <% @the_week_before = @this_week_book.count / @last_week_book.count.to_f %>
                  <%= (@the_week_before * 100).round %> %<!-- 先週比を計算し、パーセントで表示 -->
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4>7日分の投稿数</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <% (6.downto(0)).each do |n| %>
              <th><%= n == 0 ? "今日" : "#{n}日前" %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% (6.downto(0)).each do |n| %>
              <td><%= @books.where(created_at: n.day.ago.all_day).count %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <canvas id="postCountChart"></canvas>
      <script>
        // ページが読み込まれたときの処理
        $(document).on('turbolinks:load', function() {
          // グラフを描画するためのCanvas要素を取得
          var ctx = document.getElementById("postCountChart");

          // Chart.jsを使ってグラフを作成
          var postCountChart = new Chart(ctx, {
            type: 'line', // type: 'line'で折れ線グラフ(ラインチャート)を使用

            data: {
              // グラフのラベル（x軸の値）
              labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],

              datasets: [
                {
                  // データセットのラベル
                  label: '投稿した本の数',

                  // データセットの値
                  data: <%= @this_week_book_counts %>,

                  // グラフの線の色（緑）
                  borderColor: "rgba(0, 255, 0, 1)",

                  // グラフの背景色（透明）
                  backgroundColor: "rgba(0, 0, 0, 0)",

                  // グラフの曲線の滑らかさ（0から1の範囲で設定。数値が大きくなるほど曲線が滑らかになる）
                  tension: 0.3
                }
              ],
            },

            options: {
              title: {
                // グラフのタイトル表示
                display: true,
                text: '7日間の投稿数の比較'
              },

              responsive: true, // グラフのレスポンシブデザインを有効化

              scales: {
                y: {
                  // y軸（縦軸）の設定。設定しないと自動になるので書かなくても良い。
                  suggestedMin: 0, // 最小値を0に設定
                  suggestedMax: 10 // 最大値を10に設定
                },
              },
            }
          });
        });
      </script>

    </div>
  </div>
</div>
