<div class='container'>
  <%= render 'layouts/errors', user: @book_new %>
  <div class='row'>
    <div class='col-md-3'>

      <h2>User info</h2>
      <%= render 'users/info', user: @book.user %>

      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>

    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= link_to user_path(@book.user) do %>
              <%= image_tag @book.user.get_profile_image, size:'50x50' %><br>
              <%= @book.user.name %>
            <% end %>
          </td>

          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>

          <!--いいねの表示-->
          <td class = "favorite_btn_<%= @book.id %>">
            <%= render "favorites/favorite-btn", book: @book %>
          </td>
          <!--回答の記述方法-->
          <!--@book.idを文字列に変換し、"favorite-"と連結して、その結果を「class」属性に指定-->
          <!--セルには「favorite-ブックのID」というクラスが付与されます。-->
          <!--<td class=%= "favorite-" + @book.id.to_s %> >-->
            <!--%= render "favorites/btn", book: @book %>-->
          <!--</td>-->

          <!--コメント数の表示-->
          <td class="book-comments-counter">
            <%= render "book_comments/counter", book: @book %>
          </td>

          <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>

      <!--コメント一覧表示-->
      <div class="book-comments-index">
        <%= render "book_comments/index", book: @book %>
      </div>

      <!--コメント投稿フォーム-->
      <%= render "book_comments/form", book: @book, book_comment: @book_comment %>

    </div>
  </div>
</div>